# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
*.env

# VS Code
.vscode/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
